<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Way To Automation" > 
	<listeners>
		<listener class-name="com.tranings.advanceselenium.waytoautomation.library.CustomizedTestNGReports" />
	</listeners>
	<test name="Way To Automation Simple Techniques">
		<classes>
			<class
				name="com.tranings.advanceselenium.waytoautomation.tests.TestScriptSimpleElements" />
		</classes>
	</test>
	<!-- Test -->
</suite> <!-- Suite -->
